In [6]:
import sys
import logging

import numpy as np
import scipy as sp

%reload_ext autoreload
%autoreload 2

import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import seaborn as sns
sns.set_context("poster")
sns.set(rc={'figure.figsize': (16, 9.)})
sns.set_style("whitegrid")

import pandas as pd
pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 120)

logging.basicConfig(level=logging.INFO, stream=sys.stdout)

In [7]:
df = pd.read_csv('../train.csv')
df.head()

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
0,22.6,0.06724,0.0,3.24,0.0,0.460,6.333,17.2,5.2146,4.0,430.0,16.9,375.21,7.34
1,50.0,9.23230,0.0,18.10,0.0,0.631,6.216,100.0,1.1691,24.0,666.0,20.2,366.15,9.53
2,23.0,0.11425,0.0,13.89,1.0,0.550,6.373,92.4,3.3633,5.0,276.0,16.4,393.74,10.50
3,8.3,24.80170,0.0,18.10,0.0,0.693,5.349,96.0,1.7028,24.0,666.0,20.2,396.90,19.77
4,21.2,0.05646,0.0,12.83,0.0,0.437,6.232,53.7,5.0141,5.0,398.0,18.7,386.40,12.34

In [8]:
data = df.to_numpy()
X, y = data[:, 1:], data[:, 0]
X.shape, y.shape

((150, 13), (150,))

In [9]:
from sklearn.model_selection import cross_validate
from sklearn.linear_model import Ridge

lambdas = [.1, 1., 10., 100., 200.]
scores = []

for lmbda in lambdas:
    results = cross_validate(Ridge(alpha=lmbda, solver='cholesky'), X, y, cv=10, scoring='neg_root_mean_squared_error')
    scores += [-results['test_score'].mean()]

In [10]:
submission = pd.DataFrame(scores)
submission.to_csv('../submission.csv', header=False, index=False)